# Default — catch-all
* @gnoopy

# Packages
packages/widget/            @gnoopy
packages/dashboard/         @gnoopy
packages/adapter-fs/        @gnoopy
packages/adapter-sqlite/    @gnoopy
packages/adapter-memory/    @gnoopy
packages/adapter-localstorage/ @gnoopy
packages/cli/               @gnoopy
packages/core/               @gnoopy

# CI/CD & config
.github/            @gnoopy
